
body {
  margin: 0;
  background: #151616;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 125px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.array-box{
  height: calc(var(--nav-size)*0.9);
  display: none;
  border:0;
  border-bottom:1px solid #555;
  background:transparent;
  width:500px;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
  position: absolute;
  left: 15px;

}
.array-box:focus{
  border:none;
  outline:none;
  border-bottom:1px solid #e74c3c;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}


/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item-play {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.4);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.icon-button-play {
  --button-size: calc(var(--nav-size) * 0.7);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #cd1987;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}


/* Dropdown Menu */
.Button1{
  position: absolute;
  left: 550px;
  top:35px;
  height: 20px;
}
.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
@media (min-width: 992px) {
  .array-box{
    display: block;
  }
}

body {
  font: 13px/22px Helvetica;
}
.buttons {
  overflow: hidden;
}

.buttons > div {
  width: calc(50% - 40px);
  padding: 20px;
  float: left;
  position: fixed;
  bottom: 0;
  top: 0;
}
.buttons .dark {
  background: #000;
  left: 50%;
}
.buttons a {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
#animationSpeed{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);


}
a#link {position: absolute; left: 20px; bottom: 10px; text-decoration: none; color: #555; font-weight: bold;}
/*------------------------------------------------------*/
/* BUTTONS */
/*------------------------------------------------------*/
.btn,
input[type="submit"]{
  cursor: pointer;
  border-radius: 0px;
  text-decoration: none;
  padding: 12px 18px;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; font-weight:400;
  letter-spacing: 3px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-mid {
  border-radius: 0px;
  text-decoration: none;
  padding: 14px 21px;
  font-size: 13px;
  line-height: 25px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; font-weight:400;
  letter-spacing: 3px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-big {
  border-radius: 0px;
  text-decoration: none;
  padding: 18px 24px;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; font-weight:400;
  letter-spacing: 3px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn:hover,
input[type="submit"]:hover{
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn-white{
  border:solid 2px #fff;
  background: transparent;
  color: #fff !important;
}
.btn-white:hover{
  border:solid 2px #fff;
  background: #fff;
  color: #1f1f1f !important;
}

.btn-dark,
input[type="submit"]{
  border:solid 2px #1f1f1f;
  background: transparent;
  color: #1f1f1f;
}
.btn-dark:hover,
input[type="submit"]:hover,
.btn-dark.active{
  border:solid 2px #1f1f1f;
  background: #1f1f1f;
  color: #fff;
}

.btn-color{
  background: transparent;
}
.btn-color:hover{
  color: #fff;
}
.currently{
  color: antiquewhite;
  font-family:Saab
}
.currently p{
  align-content: center;
  align-items: center;
  align-self: center;
  color: #dadce1;
}
.visualizer{
  position: absolute;
  left: 750px;
  top:4px
}


