
.array-container {
    position: absolute;
    left: 300px;
    text-align: center;
    margin-top: 10px;
    /* top: 100px; */
}

.array-bar {
    width: 2px;
    display: inline-block;
    border-top-left-radius:25%;
    border-top-right-radius:25%;
    background-color: #ED553B;
}
.rangeSlider{
    position: absolute;
    left: 60px;
    top:0px
}
.name{
    position: absolute;
    top:260px;
    left:70px
}
.start{
    position: absolute;
    left:1000px;
    top:20px
}
@media (max-width: 992px) {
    .start{
        left: 0;
        top: 20px;
    }
}
